body {
    background-image: linear-gradient(to right, rgb(255,190,152), rgb(254,213,188));
}

#first-para{
    font-family: sans-serif;
}

.container{
    height: 100vh;
}
.hr{
    height: 5px;
    width: 4em;
}